*{
    margin: 0px;
    padding: 0px;
    background-color: #333333;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container img{
    width: 350px;
}

.container h1{
    background-color: #fff;
    margin-top: 10px;
}

.container p{
    text-align: center;
    width: 80%;
    margin-top: 10px;
}

.container iframe{
    width: 350px;
    margin-top: 10px;
}